<!doctype html>
<html lang="en">
    <head th:replace="fragments/head :: head"></head>
<body>
<!-- Left Panel -->
<aside th:replace="fragments/asideAdmin :: aside"></aside>
<!-- Rigth Panel -->
<div id="right-panel" class="right-panel">
    <header th:replace="fragments/headerAdmin :: header"></header>
    <div class="clearfix"></div>



    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
    <!-- /.site-footer -->
</div>
<!-- /#right-panel -->
<!-- Scripts -->
<th:block th:replace="fragments/scripts :: scripts"></th:block>
<!--Local Stuff-->
</body>
</html>