<!doctype html>
<html lang="fr">
<head th:replace="fragments/headLogin :: head"></head>

<body>

<div class="login-container">
    <div class="login-card">
        <div class="login-logo">
            <a href="#">
                <img src="/images/logo.png" alt="Logo">
            </a>
        </div>

        <!-- Titre "Login Admin" -->
        <div class="login-title text-center">
            <h2>Login Client</h2>
        </div>

        <!-- Message d'erreur -->
        <div th:if="${message}" class="alert alert-danger text-center" role="alert">
            <span th:text="${message}"></span>
        </div>

        <div class="login-form">
            <form action="/authentification/client" method="post">
                <div class="form-group">
                    <i class="fa fa-user"></i>
                    <input type="text" name="contact" class="form-control" value="0334455566" placeholder="Contact" required>
                </div>
                <button type="submit" class="login-btn">Se Connecter</button>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
<th:block th:replace="fragments/scripts :: scripts"></th:block>

</body>
</html>

