<!doctype html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Left Panel -->
<aside th:replace="fragments/asideClient :: aside"></aside>
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
  <header th:replace="fragments/headerClient :: header"></header>
  <div class="clearfix"></div>

  <div class="breadcrumbs">
    <div class="breadcrumbs-inner">
      <div class="row m-0">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1>Devis</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb text-right">
                <li><a href="#">Devis</a></li>
                <li class="active">List</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="animated fadeIn">
      <!-- Affichage du message d'alerte -->
      <div class="container mt-3">
        <div th:if="${message}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <span th:text="${message}"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <strong class="card-title">List Devis</strong>
              <div>
<!--                <a href="#" class="btn btn-success">Ajouter</a>-->
<!--                <a href="#" class="btn btn-danger">Exporter PDF</a>-->
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                  <th>Id</th>
                  <th>Référence</th>
                  <th>Date Devis</th>
                  <th>Début Travaux</th>
                  <th>Fin Travaux</th>
                  <th>Lieu</th>
                  <th>Maison</th>
                  <th>Type Finition</th>
                  <th>Montant</th>
                  <th>Montant Payé</th>
                  <th>% Paiement Effectué</th>
                  <th>Details</th>
                  <th>Export</th>
                </tr>
                </thead>
                <tbody>

                  <tr th:each="devis : ${listDevis}"
                      th:classappend="${(devis.montantPaye / devis.montant) * 100 < 50 ? 'table-danger' :
                                       (devis.montantPaye / devis.montant) * 100 < 60 ? 'table-warning' :
                                       (devis.montantPaye / devis.montant) * 100 < 90 ? 'table-info' : 'table-success'}">

                  <td th:text="${devis.idDevis}"></td>
                  <td th:text="${devis.reference}"></td>
                  <td th:text="${devis.dateDevis}"></td>
                  <td th:text="${devis.debutTravaux}"></td>
                  <td th:text="${devis.finTravaux}"></td>
                  <td th:text="${devis.lieu}"></td>
                  <td th:text="${devis.maison.type}"></td>
                  <td th:text="${devis.typeFinition.type}"></td>
                  <td th:text="${#numbers.formatDecimal(devis.montant, 0, 'COMMA', 2, 'POINT')+ ' Ar'}"></td>
                  <td th:text="${#numbers.formatDecimal(devis.montantPaye, 0, 'COMMA', 2, 'POINT')}"></td>
                  <td th:text="${#numbers.formatDecimal((devis.montantPaye / devis.montant) * 100, 0, 'COMMA', 2, 'POINT') + ' %'}"></td>
                  <td>
                    <a th:href="@{/admin/devis/list/{id}(id=${devis.idDevis})}" class="btn btn-info">Voir Travaux</a>
                  </td>
                  <td>
                    <a th:href="@{/admin/exportPDF/devis/{id}(id=${devis.idDevis})}" class="btn btn-dark">Exporter PDF</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer th:replace="fragments/footer :: footer"></footer>
</div>
<!-- Scripts -->
<th:block th:replace="fragments/scripts :: scripts"></th:block>
</body>
</html>
