<!doctype html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Left Panel -->
<aside th:replace="fragments/asideAdmin :: aside"></aside>
<!-- Rigth Panel -->
<div id="right-panel" class="right-panel">
    <header th:replace="fragments/headerAdmin :: header"></header>
    <div class="clearfix"></div>

    <div class="breadcrumbs">
      <div class="breadcrumbs-inner">
        <div class="row m-0">
          <div class="col-sm-4">
            <div class="page-header float-left">
              <div class="page-title">
                <h1>Devis</h1>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="page-header float-right">
              <div class="page-title">
                <ol class="breadcrumb text-right">
                  <li><a href="#">Devis</a></li>
                  <li><a href="#">List</a></li>
                  <li class="active">En Cours</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="content">
      <div class="animated fadeIn">
        <!-- Affichage du message d'alerte -->
        <div class="container mt-3">
          <div th:if="${message}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">List Devis En Cours</strong>
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th>Id</th>
                      <th>Date Devis</th>
                      <th>Debut Travaux</th>
                      <th>Fin Travaux</th>
                      <th>Lieu</th>
                      <th>Reference</th>
                      <th>Montant</th>
                      <th>Montant Paye</th>
                      <th>% Paiement Effectue</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="devis : ${listDevis}">
                      <td th:text="${devis.idDevis}"></td>
                      <td th:text="${devis.dateDevis}"></td>
                      <td th:text="${devis.debutTravaux}"></td>
                      <td th:text="${devis.finTravaux}"></td>
                      <td th:text="${devis.lieu}"></td>
                      <td th:text="${devis.reference}"></td>
                      <td th:text="${devis.montant}"></td>
                      <td th:text="${devis.montantPaye}"></td>
                      <td th:text="${devis.paiementEffectue}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
    <!-- /.site-footer -->
</div>
<!-- /#right-panel -->
<!-- Scripts -->
<th:block th:replace="fragments/scripts :: scripts"></th:block>
<!--Local Stuff-->
</body>
</html>